{% if app.user %}
  {% set uId = app.user.id %}
{% endif %}
{% set aId = article.id %}

{% extends 'TMBlogBundle::layout.html.twig' %}

{% block title %}{{ parent() }} | {{article.name}}{% endblock title %}

{% block tm_blog_body %}


<!-- ==================================================== Début du Corps ==================================================== -->

  
<div class="product-big-title-area under">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Présentation</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            
            {# =================================================== Sidebar =================================================== #}
            {{ include("TMBlogBundle:Produit:sidebar.html.twig") }}
            
            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="product-breadcroumb">
                        <a href="{{ path('tm_blog_home') }}">Accueil</a>
                        <a href="{{ path('tm_blog_subcats', {'cat': article.subcategory.category.name}) }}">
                            {{article.subcategory.category.name}}
                        </a>

                        <a href="{{ path('tm_blog_detail', {'cat': article.subcategory.category.name, 'subcat': article.subcategory.name}) }}">
                            {{article.subcategory.name}}
                        </a>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <img
                                      src="{{ asset(article.image.webPath) }}"
                                      alt="{{ article.image.alt }}"
                                    />
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name">{{article.name}}</h2>
                                <h3 class="product-name">ref: {{article.ref}} </h3>
                                <div class="product-inner-price">
                                    <ins>{{article.price}} €</ins> <del>{{article.price|promo(10)}} €</del>
                                </div>    
                                
                                <form action="{{path('tm_blog_fill')}}" method="get" class="cart">
                                    <div class="quantity">
                                        <input type="hidden" name="id" value="{{article.id}}">
                                        <input type="hidden" name="price" value="{{article.price}}">
                                        <input type="hidden" name="name" value="{{article.name}}">
                                        <input  type="number" 
                                                size="4" 
                                                class="input-text qty text" 
                                                title="Qty" 
                                                value="1" 
                                                name="qte" 
                                                min="1" 
                                                max="10" 
                                                step="1"
                                        >
                                    </div>
                                    <button class="add_to_cart_button" type="submit">Ajouter au panier</button>
                                </form>   
                                
                                <div class="product-inner-category">
                                    <p>Catégorie: {{article.subcategory.name}}. </p>
                                </div>
                                {% if app.user is not null and is_granted("ROLE_ADMIN") %}
                                  <a class="custom_btn" href="{{path('tm_blog_edit', {'id': article.id})}} ">Modifier</a>
                                  <a class="custom_btn" href="{{path('tm_blog_delete', {'id': article.id})}} ">X</a>
                                  <br>
                                  <br>
                                  <br>
                                {% endif %}
                                
                                <div role="tabpanel">
                                    <ul class="product-tab" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Un avis ?</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <h2>Description</h2>  
                                            <p>{{article.description}} </p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="profile">
                                            <h2>Reviews</h2>
                                           
                                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                
                                                      {{ include("TMBlogBundle:Article:form_comment.html.twig") }}
                                           
                                                  {% else %}
                                                    <p>Connectez-vous <a class="myLink" href="{{path('fos_user_security_login')}}">(ici, par exemple...)</a> et donnez votre avis</p>
                                                {% endif %}

                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="related-products-wrapper">
                        <h2 class="related-products-title">Dans cette catégorie</h2>
                        <div class="related-products-carousel">
                            {{ render(controller('TMBlogBundle:Autre:also', {'subcat': article.subcategory.name})) }}
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</div>


{% endblock tm_blog_body %}