<div id="dl-menu" class="dl-menuwrapper pull-right">
	<button class="dl-trigger">Open Menu</button>
	<h4 class="sage">Menu</h4>
	<ul class="dl-menu">
		<li><a href="{{ path('tm_blog_home') }} ">Accueil</a></li>
        <li><a href="{{ path('tm_blog_global') }} ">Collection</a></li>
        <li>
        	<a href="{{ path('tm_blog_global') }} ">Catégories</a>
        	<ul class="dl-submenu">
        		<li>
					<a href="{{ path('tm_blog_subcats', {'cat': cat1}) }}">Bijoux</a>
					<ul class="dl-submenu">
						{% for bijou in bijoux %}
							<li><a href="{{ path('tm_blog_detail', {'cat': cat1, 'subcat': bijou.name}) }}">{{bijou.name}}</a></li>
						{% endfor %}
					</ul>
				</li>

				<li>
					<a href="{{ path('tm_blog_subcats', {'cat': cat2}) }}">Couture</a>
					<ul class="dl-submenu">
						{% for couture in coutures %}
							<li><a href="{{ path('tm_blog_detail', {'cat': cat2, 'subcat': couture.name}) }}">{{couture.name}}</a></li>
						{% endfor %}
					</ul>
				</li>

				<li>
					<a href="{{ path('tm_blog_subcats', {'cat': cat3}) }}">Fimo</a>
					<ul class="dl-submenu">
						{% for fimo in fimos %}
							<li><a href="{{ path('tm_blog_detail', {'cat': cat3, 'subcat': fimo.name}) }}">{{fimo.name}}</a></li>
						{% endfor %}
					</ul>
				</li>
        	</ul>
        </li>
        <li><a href="{{ path('tm_blog_panier') }} ">Panier</a></li>
        {% if app.session.get('panier') is not empty %}
            <li><a href="{{ path('tm_blog_validation') }} ">Payer</a></li>
        {% endif %}

        {% if app.session.get('commande') %}
            <li><a href="{{ path('tm_blog_commande') }} ">Mes Commandes</a></li>
        {% endif %}

        {% if app.user is not null and is_granted('ROLE_ADMIN') %}
            <li><a href="#">Admin</a>
            	<ul class="dl-submenu">
	            	<li><a href="{{ path('tm_blog_test') }}">Test</a></li>
	            	<li><a href="{{path('tm_blog_add')}}">Ajouter un produit</a></li>
	            	<li><a href="{{path('tm_blog_voir_contact')}}">Voir les contacts</a></li>
	            	<li><a href="{{path('tm_blog_shutup')}}">Supprimer les commentaires</a></li>
	            </ul>
            </li>
            
        {% endif %}
	</ul>
</div><!-- /dl-menuwrapper -->